# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Júlia Birkett
email = jbirkett@newstore.com

[pull]
	rebase = true

[rebase]
	autoStash = true

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  context = blue bold
  func = cyan bold

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = hoopoe side-by-side line-numbers decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    commit-style = raw
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[include]
    path = ~/.themes.gitconfig
